<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quora</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    </head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            
			<div class="container">
				<a class="navbar-brand" href="#">Quora</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<button class="btn btn-dark" style="margin-right: 6px;"><a class="nav-item nav-link active" href="/dashboard/">Dashboard</a></button>
						<button class="btn btn-dark" style="margin-right: 6px;"><a class="nav-item nav-link active" href="/questions/">Questions</a></button>
                            <button class="btn btn-dark"><a class="nav-item nav-link active" href="/signout/">Logout</a></button>
					</div>
				</div>
			</div>
		</nav>
		{% block body %}
		{% endblock %}
	</body>
</html>
