<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
        <div class='container'>
  <a class="navbar-brand" href="#">Quora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link active" href="/signout/" >Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active" href="/signin/">SIGNIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/signup/">SIGNUP</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
</nav>

<div>
    <div class="display">
        {% block signin %} {% endblock %}
    </div>

    {% block signup %} {% endblock %} 
</div>
</body>
</html>