{% extends 'base1.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="sub-head mt-4 mb-2">
					<h4>Post Answer</h4>
				</div><br>
				<form action="/discussion/{{question.id}}/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>{{question.question}}</label>
						<textarea class="form-control" name="answer" placeholder="Answer the above question"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Answer</button>
				</form>
				<br>
				<hr>
				<br>
				<div class="sub-head mt-4 mb-2">
					<h4>All Answers to the question</h4>
				</div><br>
				{% for answer in all_answers %}
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">{{ answer.answer }}</h6>
							<p class="card-text">Answered by: {{ answer.author}} | {{ answer.timestamp }} | Upvotes: {{ answer.upvotes }}</p>
							<a href="/upvote/{{answer.id}}/" class="btn btn-success">Upvote</a>
						</div>
					</div><br>
				{% endfor %}
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}